html body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.logo {
    width: 100wv;
    height: 140px;
    background-color: #fbfbfb;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px;
    padding-top: 30px;
    box-sizing: border-box;
}
.logotype{
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    width: 297px;
    height: 82px;
    margin: 0 50px;
}
.red{
    color: red;
}
.logotext {
    margin: 0 100px;;
    text-align: center;
}
.logotext p{
    font-size: 30px;
    padding: 0;
    margin: 0;
}
.header{
    width: 100wv;
    height: 730px;
    background-image: url(../images/head_bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-left{
    width: 500px;
    height: 700px;
    text-align: center;
    margin-left: 200px;
}
.header-left h2{
    font-size: 40px;
    margin-top: 110px;
}
.header-left h1{
    font-size: 60px;
}
.header-left h3{
    font-size: 40px;
}
.header-left h4{
    font-size: 30px;
}
.header-right{
    width: 400px;
    height: 100%;
    background-color: #1a293e;
    margin-right: 200px;
    text-align: center;
    color: white;
}
.header-right input{
    width: 90%;
    height: 45px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;

}
.header-right p{
    text-align: left;
    margin-left: 20px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}
.header-right .submit{
    background-color: #f7941d;
    height: 65px;
    width: 90%;
    margin-top: 47px;
    color: white;
    font-size: 30px;
}
.header-right .one{
    text-align: left;
    margin: 50px 0 0 20px;
    font-size: 20px;
}
.header-right .one-big{
    font-size: 40px;    
    margin: 0 0 0 20px;
}
.section-welcome{
    width: 100wv;
    height: 670px;
    background-color: white;
}
.section-feature{
    width: 100wv;
    height: 1200px;
    background-color: grey;
}
.section-video{
    width: 100wv;
    height: 870px;
    background-color: aquamarine;
}
.section-waiting{
    width: 100wv;
    height: 475px;
    background-color: #31b34f;
}
.section-test{
    width: 100wv;
    height: 620px;
    background-color: #ffffff;
}
.footer{
    width: 100wv;
    height: 150px;
    background-color: #31b34f;
}